
@{
    ViewBag.Title = "Cotizador";
    @Styles.Render("~/Content/cotizadorstuff.css");

    @Styles.Render("~/Content/cotizacionesStyle.css");
    @Styles.Render("~/Content/webPixel.css");
    @Styles.Render("~/Content/breadcrumb.css");
}

<style>

    #calculadora {
        background-color: rgba(19,170,181,0.2)
    }
    .table th, .table td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .table th {
        width:auto !important;
        font-weight:800 !important;
    }

    .table td {
        font-weight: 700 !important;
        color: #6c757d !important;
    }


    .table-responsive {
        overflow:hidden
    }

    .btn-success {
        background-color: #F9B500;
        border: #F9B500;
        color: #525F7F;
        font-weight:bold;
        font-size:1.5em;
    }

        .btn-success:hover {
            background-color: #046c84;
            border: #046c84;
            color:white;
        }

    @@media (max-width:767px) {
    .table-responsive {
        overflow-x: auto !important;
    }
}
</style>


<div class="container py-4 bg-white" id="cotizaciones">

    <div class="template-demo">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom ">
                <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")' data-abc="true" class="font-weight-bold text-uppercase">Home</a></li>
                <li class="breadcrumb-item"><a href='@Url.Action("Cotizaciones","Home")' data-abc="true" class="font-weight-bold text-uppercase">Cotizaciones</a></li>
                <li class="breadcrumb-item active font-weight-bold " aria-current="page"><span>&nbsp&nbspCalcula tu cotización</span></li>
            </ol>
        </nav>

    </div>

    <div class=" flex-grow-1 overflow-visible">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight mb-4" id="titleCRM">Calculadora</h1>
                        </div> <!-- Actions -->
                    </div> 
                </div>
            </div>
        </header> <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->




                <div class="card shadow border-0 my-3 px-lg-5 px-sm-4 px-3 pb-5">


                    <!-- CRUD -->
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                               

                                <div class="row p-3">
                                    <p>Introduzca el número de empleados para obtener precios</p> 
                                    <hr class="my-2" />
                                </div>
                                <div class="row" id="calculadora" style=" margin: 0px; padding: 0px;">
                                    <div class="col-lg-4 col-md-12 col-sm-12 " style="background-color: #13aab5; margin: 0px; padding: 0px;">
                                        <img class="img-responsive cotizadorcover mt-lg-32 " src="~/Images/Recursos/Cotizador-1024x599.png" />
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 pt-3 pt-lg-4 px-3 px-lg-2" >
                                        <div class="row px-lg-3">
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Número de empleados</label>
                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="number" min="1" step="1" id="Numero_de_empleados" name="name" onchange="verificar_cambio()" class="form-control cotizador">
                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Planes</label>

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <select name="select" class="form-control " id="planes" onchange="rango()">
                                                    <option value="0">Selecciona un plan</option>
                                                    <option value="1">Paquete NOM035</option>
                                                    <option value="2">Paquete NOM035 + Consultoria</option>
                                                    <option value="3">Evalua + Consultoria</option>
                                                </select>
                                            </div>

                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Precio individual</label>

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="text" id="Precio_individual" onchange="correcion()" onclick="limpiar_campos()" class="form-control resultado">

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Precio Anual</label>

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="text" id="Precio_anual" onchange="correcion()" onclick="limpiar_campos()" class="form-control resultado">

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Precio final</label>
                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="text" id="Total" class="form-control resultado">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 pt-3 pt-lg-4 px-3 px-lg-2">
                                        <div class="row px-lg-3">
                                            <div class="col-12 pb-3 text-sm-center text-lg-left">
                                                <h3>Precios y mensualidades</h3>
                                                <hr style="width: 90%; color: #046c84; height: 3px; margin: 5px auto 0" />
                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Anticipo 30%</label>
                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="text" id="Anticipo30" class="form-control resultado">

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>10 mensualidades</label>

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="text" id="10mensuales" class="form-control resultado">

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 text-sm-center text-lg-left">
                                                <label>Descuento realizado</label>

                                            </div>
                                            <div class="col-lg-12 col-sm-6 col-12 pb-2">
                                                <input type="text" id="6meses" class="form-control resultado">

                                            </div>
                                            <div class="col-12 py-3 py-lg-4">
                                                <div class="regresar">
                                                    <a class="btn btn-success" style="width:100%" href='@Url.Action("Index","Home")'>Descargar</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card shadow border-0 my-3 pb-10 px-2">
                    <div class="card-header row">
                        <div class="col-12 col-sm-6">
                            <h2>Paquete NOM035</h2>
                        </div>

                    </div>

                    <!-- CRUD -->
                    <div class="table-responsive ">
                        <div class="row">
                            <table class="table table-hover table-nowrap display">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No. Empleados</th>
                                        <th>Evalua</th>
                                        <th>Ubiquo NOM035</th>
                                        <th>Precio</th>
                                        <th>Precio por empleado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1 a 15</td>
                                        <td>1,790.00</td>
                                        <td>23,000.00</td>
                                        <td>24,790.00</td>
                                        <td>1625.27</td>
                                    </tr>
                                    <tr>
                                        <td>16 a 50</td>
                                        <td>4,990.00</td>
                                        <td>56,000.00</td>
                                        <td>60,990.00</td>
                                        <td>1,219.80</td>
                                    </tr>
                                    <tr>
                                        <td>51 a 100</td>
                                        <td>8,990.00</td>
                                        <td>52,000.00</td>
                                        <td>60,990.00</td>
                                        <td>609.90</td>
                                    </tr>
                                    <tr>
                                        <td>101 a 300</td>
                                        <td>17,490.00</td>
                                        <td>104,000.00</td>
                                        <td>121,490.00</td>
                                        <td>404.97</td>
                                    </tr>
                                    <tr>
                                        <td>301 a 500</td>
                                        <td>29,990.00</td>
                                        <td>165,000.00</td>
                                        <td>194,990.00</td>
                                        <td>389.98</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>



                    <div class="card-header row mt-3">
                        <div class="col-12 col-sm-6">
                            <h2>Paquete NOM035 + Consultoria</h2>
                        </div>

                    </div>

                    <!-- CRUD -->
                    <div class="table-responsive ">
                        <div class="row">
                            <table class="table table-hover table-nowrap display">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No. Empleados</th>
                                        <th>Paquete Nom035</th>
                                        <th>Consultoria</th>
                                        <th>Precio</th>
                                        <th>Precio por empleado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1 a 15</td>
                                        <td>24,790.00</td>
                                        <td>7,500.00</td>
                                        <td>32,290.00</td>
                                        <td>2,152.66</td>
                                    </tr>
                                    <tr>
                                        <td>16 a 50</td>
                                        <td>60,990.00</td>
                                        <td>7,500.00</td>
                                        <td>68,490.00</td>
                                        <td>1,369.8</td>
                                    </tr>
                                    <tr>
                                        <td>51 a 100</td>
                                        <td>60,990.00</td>
                                        <td>7,500.00</td>
                                        <td>68,490.00</td>
                                        <td>684.9</td>
                                    </tr>
                                    <tr>
                                        <td>101 a 300</td>
                                        <td>121,490.00</td>
                                        <td>7,500.00</td>
                                        <td>128,990.00</td>
                                        <td>429</td>
                                    </tr>
                                    <tr>
                                        <td>301 a 500</td>
                                        <td>194,990.00</td>
                                        <td>7,500.00</td>
                                        <td>202,490.00</td>
                                        <td>404.98</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>



                   

                    <div class="card-header row  mt-3">
                        <div class="col-12 col-sm-6">
                            <h2>Evalua+ Consultoria</h2>
                        </div>

                    </div>

                    <!-- CRUD -->
                    <div class="table-responsive ">
                        <div class="row">
                            <table class="table table-hover table-nowrap display">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No. empleados</th>
                                        <th>Evalua</th>
                                        <th>Consultoria</th>
                                        <th>Precio</th>
                                        <th>Precio por<br />empleado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1 a 15</td>
                                        <td>1,790.00</td>
                                        <td>12,000.00</td>
                                        <td>13,790.00</td>
                                        <td>919.33</td>
                                    </tr>
                                    <tr>
                                        <td>16 a 50</td>
                                        <td>4,990.00</td>
                                        <td>15,000.00</td>
                                        <td>19,990.00</td>
                                        <td>399.8</td>
                                    </tr>
                                    <tr>
                                        <td>51 a 100</td>
                                        <td>8,990.00</td>
                                        <td>18,000.00</td>
                                        <td>26,990.00</td>
                                        <td>269.9</td>
                                    </tr>
                                    <tr>
                                        <td>101 a 300</td>
                                        <td>17,490.00</td>
                                        <td>22,000.00</td>
                                        <td>39,490.00</td>
                                        <td>131.63</td>
                                    </tr>
                                    <tr>
                                        <td>301 a 500</td>
                                        <td>29,990.00</td>
                                        <td>28,000.00</td>
                                        <td>57,990.00</td>
                                        <td>115.98</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </main>
    </div>

</div>




<script>
    var lista1 = [1625.67, 1219.80, 609.90, 404.97, 389.98]
    var lista2 = [2152.66, 1369.8, 684.9, 429, 404.98]
    var lista3 = [919.33, 399.8, 269.9, 131.63, 115.98]
    function rango() {
        if (document.getElementById('Numero_de_empleados').value != "" && document.getElementById("planes").value != 0) {
            document.getElementById('Anticipo30').value = "N/A";
            document.getElementById('10mensuales').value = "N/A";
            document.getElementById('6meses').value = "N/A";

            if (document.getElementById('Numero_de_empleados').value >= 1 && document.getElementById('Numero_de_empleados').value <= 15) {

                if (document.getElementById("planes").value == 1) {
                    document.getElementById('Total').value = (lista1[0] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista1[0];
                } else if (document.getElementById("planes").value == 2) {
                    document.getElementById('Total').value = (lista2[0] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista2[0];
                } else if (document.getElementById("planes").value == 3) {
                    document.getElementById('Total').value = (lista3[0] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista3[0];

                }
            } else if (document.getElementById('Numero_de_empleados').value >= 16 && document.getElementById('Numero_de_empleados').value <= 50) {

                if (document.getElementById("planes").value == 1) {
                    document.getElementById('Total').value = (lista1[1] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista1[1];
                } else if (document.getElementById("planes").value == 2) {
                    document.getElementById('Total').value = (lista2[1] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista2[1];
                } else if (document.getElementById("planes").value == 3) {
                    document.getElementById('Total').value = (lista3[1] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista3[1];
                }

            } else if (document.getElementById('Numero_de_empleados').value >= 51 && document.getElementById('Numero_de_empleados').value <= 100) {
                if (document.getElementById("planes").value == 1) {
                    document.getElementById('Total').value = (lista1[2] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista1[2];
                } else if (document.getElementById("planes").value == 2) {
                    document.getElementById('Total').value = (lista2[2] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista2[2];
                } else if (document.getElementById("planes").value == 3) {
                    document.getElementById('Total').value = (lista3[2] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista3[2];

                }

            } else if (document.getElementById('Numero_de_empleados').value >= 101 && document.getElementById('Numero_de_empleados').value <= 300) {
                if (document.getElementById("planes").value == 1) {
                    document.getElementById('Total').value = (lista1[3] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista1[3];
                } else if (document.getElementById("planes").value == 2) {
                    document.getElementById('Total').value = (lista2[3] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista2[3];
                } else if (document.getElementById("planes").value == 3) {
                    document.getElementById('Total').value = (lista3[3] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista3[3];

                }

            } else if (document.getElementById('Numero_de_empleados').value >= 301 && document.getElementById('Numero_de_empleados').value <= 500) {
                if (document.getElementById("planes").value == 1) {
                    document.getElementById('Total').value = (lista1[4] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista1[4];
                } else if (document.getElementById("planes").value == 2) {
                    document.getElementById('Total').value = (lista2[4] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista2[4];
                } else if (document.getElementById("planes").value == 3) {
                    document.getElementById('Total').value = (lista3[4] * document.getElementById('Numero_de_empleados').value);
                    document.getElementById('Precio_persona').value = lista3[4];

                }

            }
        }
    }
</script>